body,
p,
h1,
ul,
li {
  margin: 0 0;
  padding: 0 0;
  background-color: aliceblue;
}

.title {
  margin: 25px 0;
}

.divider {
  border-radius: 10px;
  border-color: black;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.latin-text-area {
  width: 47%;
  height: 350px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: "Times New Roman";
  resize: none;
  float: left;
}

.cyrillic-text-area {
  width: 47%;
  height: 350px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: "Times New Roman";
  resize: none;
  float: right;
}

.actions {
  margin: 10px 0;
}

.about {
  margin-top: 20px;
  margin-left: 25px;
}

.about li {
  font-size: 14px;
  margin: 3px 0;
}

.clear {
  clear: both;
}
